.spacer {
    flex: 1 1 auto;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    
    span {
      font-weight: bold;
    }
  }

  .grid-container {
    padding: 16px;
    flex: 1;
    height: calc(100vh - 64px); /* Full height minus toolbar */
    background-color: #f5f5f5;
  }
  
  .mat-grid-list {
    width: 100%; 
  }
  
  .grid-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9e9d24; /* Olive Green Border */
  }
  
  .card {
    width: 100%;
    height: 100%;
    background-color: #dce775; /* Olive Green */
    color: #4e342e; /* Dark Brown for contrast */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  mat-card-title {
    font-weight: bold;
    font-size: 18px;
  }
  
  mat-card-content {
    font-size: 14px;
  }